<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick Quack Quiz</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body class="flex-column min-100-vh">
     <nav>
    <div class="nav-wrapper" id="nav">
      <a href="/" class="brand-logo center"><img id="index" src='/assets/img/Untitled-3.png'></a>
      <ul id="nav-mobile" class="right">
        <li><button><a href="/">Home</a></button></li>
        <li> <button><a href="/dashboard">dashboard</a></button></li>
        <li class="li"><button><a href="/login">Login</a></button></li>
        <li><button id="logout-button"><a
            href="#"
            id="logout-link"
          >Logout</a></button></li>
      </ul>
    </div>
  </nav>
  
  <h2 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
    <div class="card-content">
    <main class="dash col-auto">
      {{{body}}}
    </main>
        </div>
        <div class="card-action">
      <a class="btn" id="dashboard-new" href="/dashboard/new">➕ New Quiz</a>
        </div>
      </div>
    </form>
  </div>


  </body>

  <script src="/assets/js/logout.js"></script>

</html>