<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick Quack Quiz</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/assets/CSS/styles.css" />
  </head>

  <body class="flex-column min-100-vh">

     <nav>
    <div class="nav-wrapper" id="nav">
      <a href="/" class="brand-logo center"><img id="index" src='/public/assets/media/Untitled-3.png'></a>
      <ul id="nav-mobile" class="right">
        <li><button><a href="/">Home</a></button></li>
        <li> <button><a href="/dashboard">dashboard</a></button></li>
        <li class="li"><button><a href="/login">Login</a></button></li>
        <li><button id="logout-button"><a
            href="#"
            id="logout-link"
          >Logout</a></button></li>
      </ul>
    </div>
  </nav>
    <main class="col-auto">
      {{{body}}}
    </main>

    <footer class="flex-row justify-center">

    </footer>
  </body>

</html>
<script src="/public/assets/js/logout.js"></script>