<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quick Quack Quiz</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Quick Quack Quiz</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      !!
    </footer>
  </div>

<<<<<<< HEAD
</body>

</html>
=======
</body>
>>>>>>> 76b4ccf31d9ed9f5cfb96e8be3ea5c7a63937870
