<div>
  {{#each quizzez}}
    <a
      class="form-label"
      href="/dashboard/edit/{{id}}"
    >
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>