<!DOCTYPE html>
<html lang="en">

<body>
  <div class="wrapper">
    <header>

      <nav>
    <div class="nav-wrapper" id="nav">
      <a href="/" class="brand-logo center"><img id="index" src='/media/Untitled-3.png'></a>
      <ul id="nav-mobile" class="right">
         {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <li class="li"><button id="logout" class="btn-no-style">logout</button></li>
        {{else}}
        <li class="li"><button><a href="/login">Login</a></button></li>
        <li class="li"><button><a href="/signup">Signup</a></button></li>
         {{/if}}
      </ul>
    </div>
  </nav>
    </header>
 
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/controllers/home-routes.js"></script>
  {{/if}}
</body>

</html>