<!-- Needs "logo/home" and "pick avatar (future feature)" -->

<title>Please Log In!</title>
 <div class="row #e3f2fd blue lighten-5" >
    <div class="col s12 m7">
      <div class="card" class="center">
        <div class="card-image">
          <img id="login-img"src="/media/Untitled-3.png">
        </div>
        <div class="card-content">
            <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
        </div>
        <div class="card-action">
    <button type="submit">Login</button>
        </div>
      </div>
    </div>
  </div>

<script></script>