<div class="quiz card">
  <div class="card-header">
    <h2>Create New Quiz</h2>
  </div>
  <form id="new-quiz-form" class="card-body">
    <label class="form-label" for="quiz-title">Question</label>
    <input type="text" name="quiz-title" class="form-input" />
    <label class="form-label" for="quiz-body">Answers</label>
    <textarea name="quiz-body" class="form-input"></textarea>
    <button type="submit" class="btn">Create</button>
  </form>
</div>
<script src="/js/new.js"></script>