<!-- Home button goes here -->
<title>Sign Up</title>
<h1>Please fill in the information below!</h1>
<form class="signup-form">
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/js/signup.js"></script>