<!-- Home button goes here -->
<title>Sign Up</title>
<div class="row" >
    <form id="container" class="signup-form login-form col s12 m7">
      <div class="card" class="center">
        <div class="card-image">
        <a href="/" class="brand-logo center"><img id="login-img" src='/media/Untitled-3.png'></a>
          <span id="card-title"class="card-title">Signup</span>
        </div>
        <div class="card-content">
            <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
        </div>
        <div class="card-action">
    <button type="submit">Signup</button>
        </div>
      </div>
    </form>
  </div>


<script src="/js/signup.js"></script>