
button {
    background-color: #0694bc;
    border: 0;
    padding: 4%;
    color: #f6e22e;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

button:hover {
    background-color: #f6e22e;
    color: #0694bc
  }

.li{
  padding-right: 50px;
  padding-top: 30px;
}

#index-img{
  height: 130px;
padding-top:10px;
}

.nav-wrapper{
background-color: rgb(216, 227, 238);
}

#nav{
  height: 140px;
}

#login-img{
  padding:30px;
}